world={{world}}
autocreate={{autocreate}}
seed={{seed}}
worldname={{worldname}}
difficulty={{difficulty}}
maxplayers={{maxplayers}}
port={{port}}
motd={{motd}}
worldpath={{worldpath}}
language={{language}}
npcstream={{npcstream}}
worldrollbackstokeep={{worldrollbackstokeep}}
AutoSave={{AutoSave}}
